html,body {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 1em;
    text-align: center;
    background-color: black;
    background-size: cover;
    background-repeat: space;
}

h1, h2 {
    color: goldenrod;
}

canvas {
    background-color: #222;
    width: 100%;
}

#container {
max-width: 50em;
background-color: rgb(191, 127, 139);
margin: 0 auto;
padding: 1em;
display: grid;
grid-gap: 1em;
grid-template-rows: .25fr .5fr .25fr;
grid-template-columns: .25fr .5fr .25fr;
grid-template-areas: "title title top-right"
                    "game game game"
                    "btm-left btm-right btm-right";
}

#title, #top-right, #btm-left, #btm-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

#title {
    grid-area: title;
}

#top-right {
    grid-area: top-right;
}

main {
    grid-area: game;
}
#btm-left {
    grid-area: btm-left;
}

#btm-right {
    grid-area: btm-right;
}
#phone-controls {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    user-select: none;
}
#up, #down, #jump {
    height: 100%;
    margin-right: 1rem;
}
#up {
    background-color: green;
}
#down {
    background-color: yellow;
}
#jump {
    background-color: red;
}

/* Touch action guidance: https://stackoverflow.com/questions/10614481/disable-double-tap-zoom-option-in-browser-on-touch-devices */
/* Text highlight guidance: https://stackoverflow.com/questions/25704650/disable-blue-highlight-when-touch-press-object-with-cursorpointer */
/* Touch Screen Device settings */
@media screen and (max-width: 812px) {
    #phone-controls {
        visibility: visible;
    }
}
* {
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
